body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightslategray;
}

.container{
    display: flex;
    
}

input{
    background-color: transparent;
    border: none;
    text-align: center;
}