body{
    display: flex;
    justify-content: center;
    align-items: center;
}

button{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    cursor: pointer;
}

#heart1{
    position: absolute;
}

#heart2{
    position: relative;
}