body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 0.15em 0.3em;
    border-radius: 15px 15px 15px 15px;
}

#dark, #light{
    background-color: transparent;
    border: none;
    font-size: 3rem;
    padding: 0.2em;
}

/* #theme{
    align-self: flex-start;
    padding: 1.2em;
    border-radius: 50%;
    border: none;
    outline: none;
    background-color: white;
    cursor: pointer;
} */